<!DOCTYPE html>{% load static%}{% load i18n %} {% load ghis %} {% load humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ filenom }}</title>
    
    <style>
        @page {
            size: a4 portrait;
        }

        #invoice-POS {
            box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
            padding: 2mm;
            margin: 0 auto;
            width: 88mm;
            background: #FFF;
        }
        
        #top,
        #mid,
        #botk {
            /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
        }
        
        #top {
            min-height: 100px;
        }
        
        #mid {
            min-height: 80px;
        }
        
        #bot {
            min-height: 50px;
        }
    </style>
</head>

<body>
    <div id="invoice-POS">
        <div id="top">
            <table>
                <tr style="border: 1px solid transparent;">
                    <td align="center" colspan="4" style="border: none;">
                        <div class="">
                            <img style="width:100px;height:100px;border-radius:50%;" src="{{ etablissement.logo.path }}"><br/><br/>
                            <span style="font-size: 30px;color:black;font-weight:bold;font-style:italic;">{{ etablissement.raisonsocial }}</span><br/>
                            <span>{% trans 'Adresse' %} : {{ etablissement.adresse }}</span><br/>
                            <span>(00228) {{ etablissement.tel }} / {{ etablissement.telfixe }} / {{ etablissement.email }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div><br/>
        <div id="mid">
            <table style="width:100%;padding:0;margin:0;background-color:#f7f7f7;">
                <thead>
                    <tr style="width: 100%;background-color:#fff;">
                        <td colspan="4" style="border-left:none;border-right:none;text-align:center;font-size:14px;font-weight:bold;">LOCATIVE: {{ une_locative.reflocative }}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:150px;height:180px;background-color:#f7f7f7;text-align:center;" rowspan="4">
                            {% if not une_locative.photo %}
                            <img src="{{ etablissement.logo.path }}" style="width: 110px; height: 120px;" />
                            {% else %}
                            <img src="{{ une_locative.photo.path }}" style="width: 110px; height: 120px;" />
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Référence</span><br />
                            <span style="color:black;" class="sexe">{{ une_locative.reflocative }}</span>
                        </td>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Propriétaire</span><br/>
                            <span style="color:black;" class="nom">{{ une_locative.bien.proprietaire.nom|upper }} {{ une_locative.bien.proprietaire.prenom }}</span>
                        </td>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Bien</span><br />
                            <span style="color:black;" class="prenom">{{ une_locative.bien.nom }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Type locative</span><br />
                            <span style="color:black;" class="daten">
                                {% if une_locative.typelocative == 1 %}
                                    Palier
                                {% elif une_locative.typelocative == 2 %}
                                    Villa
                                {% elif une_locative.typelocative == 3 %}
                                    Magasin
                                {% elif une_locative.typelocative == 4 %}
                                    Appartement
                                {% elif une_locative.typelocative == 5 %}
                                    Studio
                                {% else %}
                                    Autre
                                {% endif %}
                            </span>
                        </td>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Locative meublée</span><br />
                            <span style="color:black;" class="matricule">
                                {% if une_locative.meuble == 1 %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </span>
                        </td>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Montant loyer</span><br />
                            <span style="color:black;" class="nationalite">{{ une_locative.montant }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:40px;padding-top:10px;">
                            <span style="font-size:12px;">Charge sur loyer</span><br />
                            <span style="color:black;" class="adresse">{{ une_locative.charge }}</span>
                        </td>
                        <td style="padding-left:40px;padding-top:10px;">
                            <div class="inp">
                                <span style="font-size:12px;">Nombre de pièce</span><br />
                                <span style="color:black;" class="nume">{{ une_locative.nombrepiece }}</span>
                            </div>
                        </td>
                        <td style="padding-left:40px;padding-top:10px;">
                            <div class="inp">
                                <span style="font-size:12px;">Superficie (m2)</span><br />
                                <span style="color:black;" class="emaile">{{ une_locative.superficie }}</span>
                            </div>
                        </td>
                    </tr> 
                    <tr>
                        <td style="padding-left:40px;padding-top:10px;text-align: center;" colspan="4">
                             <div class="inp">
                                 <span style="font-size:12px;">Date création de la locative</span><br />
                                 <span style="color:black;" class="spec">{{ une_locative.creation|naturalday }}</span>
                             </div>
                         </td>
                     </tr>
                </tbody>
                </table>
        </div>
        <!--End InvoiceBot-->
    </div>
    <!--End Invoice-->

</body>

</html>