<!DOCTYPE html>{% load static%} {% load i18n %}{% load ghis %} {% load humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ filenom }}</title>
    
    <style>
        @page {
            size: a4 portrait;
        }

        #invoice-POS {
            box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
            padding: 2mm;
            margin: 0 auto;
            width: 88mm;
            background: #FFF;
        }
        
        #top,
        #mid,
        #botk {
            /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
        }
        
        #top {
            min-height: 100px;
        }
        
        #mid {
            min-height: 80px;
        }
        
        #bot {
            min-height: 50px;
        }
    </style>
</head>

<body>
    <div id="invoice-POS">
        <div id="top">
            <table>
                <tr style="border: 1px solid transparent;">
                    <td align="center" colspan="4" style="border: none;">
                        <div class="">
                            <img style="width:100px;height:100px;border-radius:50%;" src="{{ etablissement.logo.path }}"><br/><br/>
                            <span style="font-size: 30px;color:black;font-weight:bold;font-style:italic;">{{ etablissement.raisonsocial }}</span><br/>
                            <span>{% trans 'Adresse' %} : {{ etablissement.adresse }}</span><br/>
                            <span>(00228) {{ etablissement.tel }} / {{ etablissement.telfixe }} / {{ etablissement.email }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="mid">
            <div style="text-align: center;">
                <table border="0">
                    <tr style="border: none;">
                        <td style="border: none;">

                        </td>
                    </tr>
                </table>
            </div>
            <table cellpadding="5">
                <thead>
                    <tr style="width: 100%;background-color:#fff;">
                        <td colspan="9" style="border-left:none;border-right:none;text-align:center;font-size:14px;font-weight:bold;">LISTE DES LOCATIVES</td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="width: 100%;background-color:#eee;">
                        <td style="border-left:none;border-right:none;">#</td>
                        <td style="border-left:none;border-right:none;">Réf locative</td>
                        <td style="border-left:none;border-right:none;">Localisation</td>
                        <td style="border-left:none;border-right:none;">Superficie(m2)</td>
                        <td style="border-left:none;border-right:none;">Type</td>
                        <td style="border-left:none;border-right:none;">Statut</td>
                        <td style="border-left:none;border-right:none;">Occupant</td>
                        <td style="border-left:none;border-right:none;">Montant loyer</td>
                        <td style="border-left:none;border-right:none;">Charge sur loyer</td>   
                    </tr>
                    {% for une_locative in liste_locative %}

                    <tr>
                        <td style="border-left:none;border-right:none;">{{ forloop.counter }}</td>
                        <td style="border-left:none;border-right:none;">{{une_locative.reflocative}}</td>
                        <td style="border-left:none;border-right:none;">{{une_locative.bien.adresse}}, {{une_locative.bien.ville}}, {{une_locative.bien.quartier}}</td>
                        <td style="border-left:none;border-right:none;">
                            {{une_locative.superficie}}
                        </td>
                        <td style="border-left:none;border-right:none;">
                            {% if une_locative.typelocative == 1 %}
                                {% trans "Palier" %}
                            {% elif une_locative.typelocative == 2 %}
                                {% trans "Villa" %}
                            {% elif une_locative.typelocative == 3 %}
                                {% trans "Magasin" %}
                            {% elif une_locative.typelocative == 4 %}
                                {% trans "Appartement" %}
                            {% elif une_locative.typelocative == 5 %}
                                {% trans "Studio" %}
                            {% else %}
                                {% trans "Autre" %}
                            {% endif %}
                        </td>
                        <td style="border-left:none;border-right:none;">
                            {% if une_locative.etat == 2 %}
                                <span class="danger">{% trans "Occupée" %}</span>
                            {% elif une_locative.etat == 3 %}
                                <span class="warning">{% trans "Réservée" %}</span>
                            {% else %}
                                <span class="success">{% trans "Libre" %}</span>
                            {% endif %} 
                        </td>
                        <td style="border-left:none;border-right:none;">
                            {% if une_locative.etat == 2 %}
                                {{une_locative.id|occuplocative}}
                            {% elif une_locative.etat == 3 %}
                                {{une_locative.id|occuplocative}}
                            {% else %}
                                Vide
                            {% endif %}
                        </td>
                        <td style="border-left:none;border-right:none;">{{une_locative.montant}}</td>
                        <td style="border-left:none;border-right:none;">{{une_locative.charge}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="bot">
            <div style="text-align: center;">
                <span style="text-align: center;font-size:11px;">Fait le : {{today}} par {{ action }}</span><br/>
                <span style="text-align: center;font-size:11px;">by <a href="https://tech-agence.net">TECH-AGENCE</a></span>
            </div>
        </div>
        <!--End InvoiceBot-->
    </div>
    <!--End Invoice-->

</body>

</html>