{% extends 'gimmo/base.html' %}{% load i18n %} {% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/gimmo/css/modal.css' %}">
<link rel="stylesheet" href="{% static '/gimmo/css/form.css' %}">
<link rel="stylesheet" href="{% static '/gimmo/css/responsivebox.css' %}">
{% endblock css %}
{% block title %}{% trans "EDITER LOCATAIRE" %}{% endblock title %}
{% block content %}
<main>
    <h1>{% trans "Editer locataire" %} {{ un_locataire.nom|upper }} {{ un_locataire.prenom }}</h1>

    <div class="list-btn">
        <a href="{% url 'locataire' %}" class="a-button" style="--clr:#7380ec;">
            <span class="material-icons-sharp">
                reply
            </span>
            {% trans "Retour liste locataire" %}
        </a>
    </div>
    <!--CARD-->
    <!--END CARD-->
    <!--TABLE-->
    <div class="main-body">
        <form action="{% url 'eajxloc' %}" method="post" id="newform" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="l-card">
                <div class="card lg-c3 md-c12 sm-c12 xs-c12">
                    <div class="card-header">
                        <h2>{% trans "Identification" %}</h2>
                    </div>
                    <div class="card-body">
                        <div class="drop-zone" style="cursor: pointer;">
                            {% if un_locataire.photo %}
                                <span class="drop-zone__prompti"><img style="width: 110px; height: 120px;"
                                        src="{{ un_locataire.photo.url }}">
                                </span>
                            {% else %}
                                <span class="drop-zone__prompti"><i class="material-icons-sharp" style="font-size: 70px;">person</i></span>
                            {% endif %}
                            <br/>
                            <span class="drop-zone__prompt">{% trans 'Glisez ou cliquez pour ajouter' %}</span>
                            <input type="file" name="profile" class="drop-zone__input" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="card lg-c6 md-c12 sm-c12 xs-c12">
                    <div class="card-header">
                        <h2>
                            {% trans "Information" %}
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="lg-c12 md-c12 sm-c12 xs-c12">
                                <div class="input_div flex-b">
                                    <input type="checkbox" name="compteentreprise" id="compteentreprise" {% if lenraisonsocial != 0 %} checked {% endif %} class="check_field" value="1">
                                    <label for="compteentreprise" class="">{% trans "Compte entreprise" %}</label>
                                </div>
                            </div>
                            <div class="lg-c12 md-c12 sm-c12 xs-c12 dentreprise">
                                <h3>{% trans "Détails sur l'entreprise concernée" %}</h3><br>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 raisonsocial">
                                <div class="input_div">
                                    <input value="{{ un_locataire.raisonsocial }}" type="text" class="input_field" name="raisonsocial" id="raisonsocial" placeholder=" " required>
                                    <label for="raisonsocial" class="input_label">{% trans "Raison sociale" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 formejuridique">
                                <div class="input_div">
                                    <input value="{{ un_locataire.formejuridique }}" type="text" class="input_field" name="formejuridique" id="formejuridique" placeholder=" " required>
                                    <label for="formejuridique" class="input_label">{% trans "Forme juridique" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 comptecontribuable">
                                <div class="input_div">
                                    <input value="{{ un_locataire.comptecontribuable }}" type="text" class="input_field" name="comptecontribuable" id="comptecontribuable" placeholder=" ">
                                    <label for="comptecontribuable" class="input_label">{% trans "Compte contribuable" %}</label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 registrecommerce">
                                <div class="input_div">
                                    <input value="{{ un_locataire.registrecommerce }}" type="text" class="input_field" name="registrecommerce" id="registrecommerce" placeholder=" ">
                                    <label for="registrecommerce" class="input_label">{% trans "Rgistre du commerce" %}</label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 siege">
                                <div class="input_div">
                                    <input value="{{ un_locataire.siege }}" type="text" class="input_field" name="siege" id="siege" placeholder=" " required>
                                    <label for="siege" class="input_label">{% trans "Siège sociale" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 secteur">
                                <div class="input_div">
                                    <input value="{{ un_locataire.secteur }}" type="text" class="input_field" name="secteur" id="secteur" placeholder=" " required>
                                    <label for="secteur" class="input_label">{% trans "Secteur d'activité" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 contactentre">
                                <div class="input_div">
                                    <input value="{{ un_locataire.contactentre }}" type="text" class="input_field" name="contactentre" id="contactentre" placeholder=" " required>
                                    <label for="contactentre" class="input_label">{% trans "Contact" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12 adresseentre">
                                <div class="input_div">
                                    <input value="{{ un_locataire.adresseentre }}" type="text" class="input_field" name="adresseentre" id="adresseentre" placeholder=" " required>
                                    <label for="adresseentre" class="input_label">{% trans "Adresse" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>

                            <div class="lg-c12 md-c12 sm-c12 xs-c12 dlocataire">
                                <h3>{% trans "Détails sur le représentant légal" %}</h3><br>
                            </div>
                            
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="select_div">
                                    <div class="select_label">{% trans "Civilité" %} <span class="required-txt" style="color: red;">*</span></div>
                                    <select name="civilite" id="select_field" class="select_field" required value="{{ un_locataire.civilite }}">
                                        <option value="{{ un_locataire.civilite }}">{{ un_locataire.civilite }}</option>
                                        <option></option>
                                        <option value="Monsieur">{% trans "Monsieur" %}</option>
                                        <option value="Madame">{% trans "Madame" %}</option>
                                        <option value="Mademoiselle">{% trans "Mademoiselle" %}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.nom }}" type="text" class="input_field" name="nom" id="input_feild" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Nom" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.prenom }}" type="text" class="input_field" name="prenoms" id="input_feild" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Prénoms" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.datenaiss }}" type="date" class="input_field" id="input_feild" name="daten" placeholder=" ">
                                    <label for="input_feild" class="input_label">{% trans "Date de naissance" %}</label>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.profession }}" type="text" class="input_field" id="input_feild" name="profession"
                                        placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Profession" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.lieutaf }}" type="text" class="input_field" id="input_feild" name="lieutaf" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Lieu de travail" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="select_div">
                                    <div class="select_label">{% trans "Nature de la pièce" %}</div>
                                    <select name="naturepiece" id="select_field" class="select_field" value="{{ un_locataire.naturepiece }}">
                                        <option value="{{ un_locataire.naturepiece }}">{{ un_locataire.naturepiece }}</option>
                                        <option></option>
                                        <option value="CNI">{% trans "CNI" %}</option>
                                        <option value="Passeport">{% trans "Passeport" %}</option>
                                        <option value="ONI">{% trans "ONI" %}</option>
                                        <option value="Permis de conduire">{% trans "Permis de conduire" %}</option>
                                        <option value="Carte consulaire">{% trans "Carte consulaire" %}</option>
                                        <option value="Autre">{% trans "Autre" %}</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.numpiece }}" type="text" class="input_field" id="input_feild" name="numpiece" placeholder=" ">
                                    <label for="input_feild" class="input_label">{% trans "Numéro de la pièce" %}</label>
                                </div>
                            </div>
    
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.lieudelivrance }}" type="text" class="input_field" id="input_feild" name="lpiece" placeholder=" ">
                                    <label for="input_feild" class="input_label">{% trans "Lieu de délivrance" %}</label>
                                </div>
                            </div>
    
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ dated }}" type="date" class="input_field" id="input_feild" name="dpiece" placeholder=" ">
                                    <label for="input_feild" class="input_label">{% trans "Date délivrance" %}</label>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ datee }}" type="date" class="input_field" id="input_feild" name="epiece" placeholder=" ">
                                    <label for="input_feild" class="input_label">{% trans "Date d'expiration" %}</label>
                                </div>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="select_div">
                                    <div class="select_label">{% trans "Statut matrimonial" %} <span class="required-txt" style="color: red;">*</span></div>
                                    <select name="statutma" id="select_field" class="select_field" required value="{{ un_locataire.statumat }}">
                                        <option value="{{ un_locataire.statumat }}">{{ un_locataire.statumat }}</option>
                                        <option></option>
                                        <option value="Célibataire">{% trans "Célibataire" %}</option>
                                        <option value="Marié(e)">{% trans "Marié(e)" %}</option>
                                        <option value="Veuf(ve)">{% trans "Veuf(ve)" %}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.nbenfant }}" type="number" class="input_field" name="nbenfant" id="input_feild" placeholder=" " min="0" required>
                                    <label for="input_feild" class="input_label">{% trans "Nombre d'enfant" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>  

                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.adresse }}" type="text" class="input_field" name="adresse" id="input_feild" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Ancienne adresse" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>    
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.fixe }}" type="text" class="input_field" id="input_feild" name="telfixe" placeholder=" ">
                                    <label for="input_feild" class="input_label">{% trans "Téléphone fixe" %}</label>
                                </div>
                            </div>
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.tel }}" type="text" class="input_field" id="input_feild" name="tel" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Téléphone" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            
                            <div class="lg-c12 md-c12 sm-c12 xs-c12">
                                <h3>
                                    {% trans "Personne à contacter en cas d'urgence" %}
                                </h3>
                            </div>
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.nomu }}" type="text" class="input_field" id="input_feild" name="nomu" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Nom" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.prenomu }}" type="text" class="input_field" id="input_feild" name="prenomsu" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Prénoms" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
    
                            <div class="lg-c6 md-c6 sm-c6 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.contactu }}" type="text" class="input_field" id="input_feild" name="contactu" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Contact" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="card lg-c3 md-c12 sm-c12 xs-c12">
                    <div class="card-header">
                        <h2>
                            {% trans "Connexion" %}
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="lg-c12 md-c12 sm-c12 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.user.username }}" type="text" class="input_field" id="pseudo" name="pseudo" value="{{matricule}}" placeholder=" " required readonly style="cursor: not-allowed;">
                                    <label for="pseudo" class="input_label">{% trans "Nom d'utilisateur" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
    
                            <div class="lg-c12 md-c12 sm-c12 xs-c12">
                                <div class="input_div">
                                    <input value="********" type="text" class="input_field" id="input_feild" name="mdp" placeholder=" " required readonly style="cursor: not-allowed;">
                                    <label for="input_feild" class="input_label">{% trans "Mot de passe" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
    
                            <div class="lg-c12 md-c12 sm-c12 xs-c12">
                                <div class="input_div">
                                    <input value="{{ un_locataire.user.email }}" type="email" class="input_field" id="input_feild" name="email" placeholder=" " required>
                                    <label for="input_feild" class="input_label">{% trans "Email" %} <span class="required-txt" style="color: red;">*</span></label>
                                </div>
                            </div>
                            <input type="hidden" value="{{ un_locataire.idpub }}" name="idpub">
                        </div>
                        <div class="list-btn">
                            <button type="reset" class="a-button" style="--clr:#e91919;">
                                {% trans "Annuler" %}
                            </button>
                            <button type="submit" class="a-button" style="--clr:#7380ec;">
                                {% trans "Enrégistrer" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--END TABLE-->
</main>
{% endblock content %}
{% block js %}
{% if lenraisonsocial == 0 %}
  <script>
    $('.dentreprise').hide();
        $('.dlocataire').hide();
        $('.raisonsocial').hide();
        $('.formejuridique').hide();
        $('.comptecontribuable').hide();
        $('.registrecommerce').hide();
        $('.siege').hide();
        $('.secteur').hide();
        $('.contactentre').hide();
        $('.adresseentre').hide();

        $('#raisonsocial').removeAttr('required');
        $('#formejuridique').removeAttr('required');
        $('#comptecontribuable').removeAttr('required');
        $('#registrecommerce').removeAttr('required');
        $('#siege').removeAttr('required');
        $('#secteur').removeAttr('required');
        $('#contactentre').removeAttr('required');
        $('#adresseentre').removeAttr('required');
  </script>
{% endif %}
<script>
    $(document).ready(function(){
        $('#compteentreprise').click(function(){
            if($('#compteentreprise').is(':checked')){
                $('.dentreprise').show();
                $('.dlocataire').show();
                $('.raisonsocial').show();
                $('.formejuridique').show();
                $('.comptecontribuable').show();
                $('.registrecommerce').show();
                $('.siege').show();
                $('.secteur').show();
                $('.contactentre').show();
                $('.adresseentre').show();

                $('#raisonsocial').addAttr('required');
                $('#formejuridique').addAttr('required');
                $('#comptecontribuable').addAttr('required');
                $('#registrecommerce').addAttr('required');
                $('#siege').addAttr('required');
                $('#secteur').addAttr('required');
                $('#contactentre').addAttr('required');
                $('#adresseentre').addAttr('required');
            }else{
                $('.dentreprise').hide();
                $('.dlocataire').hide();
                $('.raisonsocial').hide();
                $('.formejuridique').hide();
                $('.comptecontribuable').hide();
                $('.registrecommerce').hide();
                $('.siege').hide();
                $('.secteur').hide();
                $('.contactentre').hide();
                $('.adresseentre').hide();

                $('#raisonsocial').removeAttr('required');
                $('#formejuridique').removeAttr('required');
                $('#comptecontribuable').removeAttr('required');
                $('#registrecommerce').removeAttr('required');
                $('#siege').removeAttr('required');
                $('#secteur').removeAttr('required');
                $('#contactentre').removeAttr('required');
                $('#adresseentre').removeAttr('required');


                
            }
        });
        
    });
</script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

<script>
    $("#newform").submit(function(e){
        e.preventDefault();
        swal({
            title: "{% trans 'En cours' %} !",
            text: "{% trans 'Veuillez ne pas quitter la page' %}",
            type: "warning",
            showCancelButton: false,
            showConfirmButton : false,
            confirmButtonColor: "#00BCD4",
            confirmButtonText: "oK",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        });
        var formData = new FormData(this);
        $.ajax({
            type : "POST",
            url: $(this).attr("action"),
            data: formData,
            dataType: 'json',
            success: function(data) {                
                if (data.etat == "2") {
                    var textreturn = "{% trans 'Locataire non édité' %}";
                    swal({
                        title: "{% trans 'Erreur' %} !",
                        text: textreturn,
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#7380ec",
                        confirmButtonText: "oK",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    });
                }else{
                    
                    var textreturn = "{% trans 'Locataire édité' %}";
                    swal({
                        title: "{% trans 'Succès' %} !",
                        text: textreturn,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#7380ec",
                        confirmButtonText: "oK",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>

<script>
    document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
            }

            dropZoneElement.classList.remove("drop-zone--over");
        });
    });

    /**
     * Updates the thumbnail on a drop zone element.
     *
     * @param {HTMLElement} dropZoneElement
     * @param {File} file
     */
    function updateThumbnail(dropZoneElement, file) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone__prompt")) {
            dropZoneElement.querySelector(".drop-zone__prompt").remove();
        }
        if (dropZoneElement.querySelector(".drop-zone__prompti")) {
            dropZoneElement.querySelector(".drop-zone__prompti").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = file.name;

        // Show thumbnail for image files
        if (file.type.startsWith("image/")) {
            const reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            };
        } else {
            thumbnailElement.style.backgroundImage = null;
        }
    }
</script>
{% endblock js %}