<!DOCTYPE html>{% load static%} {% load i18n %} {% load ghis %} {% load humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ filenom }}</title>
    
    <style>
        @page {
            size: a4 portrait;
        }

        #invoice-POS {
            box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
            padding: 2mm;
            margin: 0 auto;
            width: 88mm;
            background: #FFF;
        }
        
        #top,
        #mid,
        #botk {
            /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
        }
        
        #top {
            min-height: 100px;
        }
        
        #mid {
            min-height: 80px;
        }
        
        #bot {
            min-height: 50px;
        }
    </style>
</head>

<body>
    <div id="invoice-POS">
        <div id="top">
            <table>
                <tr style="border: 1px solid transparent;">
                    <td align="center" colspan="4" style="border: none;">
                        <div class="">
                            <img style="width:100px;height:100px;border-radius:50%;" src="{{ etablissement.logo.path }}"><br/><br/>
                            <span style="font-size: 30px;color:black;font-weight:bold;font-style:italic;">{{ etablissement.raisonsocial }}</span><br/>
                            <span>{% trans 'Adresse' %} : {{ etablissement.adresse }}</span><br/>
                            <span>(00228) {{ etablissement.tel }} / {{ etablissement.telfixe }} / {{ etablissement.email }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="mid">
            <div style="text-align: center;">
                <table border="0">
                    <tr style="border: none;">
                        <td style="border: none;">

                        </td>
                    </tr>
                </table>
            </div>
            <table cellpadding="5">
                <thead>
                    <tr style="width: 100%;background-color:#fff;">
                        <td colspan="8" style="border-left:none;border-right:none;text-align:center;font-size:14px;font-weight:bold;">LISTE DES LOCATAIRES</td>
                    </tr>
                </thead>
                <tbody>
                    <tr style="width: 100%;background-color:#eee;">
                        <td style="border-left:none;border-right:none;">#</td>
                        <td style="border-left:none;border-right:none;">ID</td>
                        <td style="border-left:none;border-right:none;">Locataire</td>
                        <td style="border-left:none;border-right:none;">Locative occupée</td>
                        <td style="border-left:none;border-right:none;">Type</td>
                        <td style="border-left:none;border-right:none;">Contact</td>
                        <td style="border-left:none;border-right:none;">Rejoint</td>
                        <td style="border-left:none;border-right:none;">Statut</td>
                    </tr>
                    {% for un_locataire in liste_locataire %}

                    <tr>
                        <td style="border-left:none;border-right:none;">{{ forloop.counter }}</td>
                        <td style="border-left:none;border-right:none;">{{un_locataire.user.username}}</td>
                        <td style="border-left:none;border-right:none;">
                            {% if un_locataire.raisonsocial == '' %}
                                {{un_locataire.nom|upper}} {{ un_locataire.prenom }}
                            {% else %}
                                {{un_locataire.raisonsocial|upper}}
                            {% endif %}
                        </td>
                        <td style="border-left:none;border-right:none;">
                            {{ un_locataire.id|occuplocataire }}
                        </td>
                        <td style="border-left:none;border-right:none;">
                            {% if un_locataire.raisonsocial == '' %}
                                {% trans "PARTICULIER" %}
                            {% else %}
                                {% trans "ENTREPRISE" %}
                            {% endif %}
                        </td>
                        <td style="border-left:none;border-right:none;">{{ un_locataire.tel }}</td>
                        <td style="border-left:none;border-right:none;">{{ un_locataire.creation|naturalday }}</td>
                        <td style="border-left:none;border-right:none;">
                            {% if un_locataire.d1 == 1 %}
                                <span class="success">Actif</span>
                            {% else %}
                                <span class="danger">Inactif</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="bot">
            <div style="text-align: center;">
                <span style="text-align: center;font-size:11px;">Fait le : {{today}} par {{ action }}</span><br/>
                <span style="text-align: center;font-size:11px;">by <a href="https://tech-agence.net">TECH-AGENCE</a></span>
            </div>
        </div>
        <!--End InvoiceBot-->
    </div>
    <!--End Invoice-->

</body>

</html>