{% extends 'gimmo/base.html' %}{% load i18n %}{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/gimmo/css/modal.css' %}">
<link rel="stylesheet" href="{% static '/gimmo/css/form.css' %}">
<link rel="stylesheet" href="{% static '/gimmo/css/responsivebox.css' %}">
{% endblock css %}
{% block title %}{% trans "FICHIER" %}{% endblock title %}
{% block content %}
        <main>
            <h1>Fichier</h1>
            <div class="list-btn">
                <span onclick="showModal('newfile');" class="a-button" style="--clr:#7380ec;">
                    <span class="material-icons-sharp">
                        add
                        </span>
                    {% trans "Nouveau" %}
                </span>
            </div>
            <!--CARD-->
            <div class="main-body">
                <div class="recent-orders">
                    <h2>{% trans "Liste" %}</h2>
                    <table id="table_id">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fichier</th>
                                <th>Ajouté</th>
                            </tr>
                        </thead>
                        <tbody>{% load humanize %}
                            {% for un_fichier in list_fichier %}
                            <tr>
                                <td data-thead="#">{{forloop.counter}}</td>
                                <td data-thead="Fichier">
                                    <div class="list-btn">
                                        <a href="{% url 'downfichier' un_fichier.idpub %}" target="_blank" class="a-button" style="--clr:#e91919;">
                                            <span class="material-icons-sharp">
                                                download
                                            </span>
                                            {{un_fichier.nom|upper}}
                                        </a>
                                    </div>
                                </td>
                                <td data-thead="Ajouté">{{un_fichier.creation|naturaltime}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--END TABLE-->
        </main>
{% endblock content %}    
{% block js %}
     
<div class="modal sm-modal newfile" id="modal-hs">
    <div class="content">
        <div class="modal-header">
            <div class="title">Fichier</div>
            <div class="close" onclick="showModal('newfile');">
                <span class="material-icons-sharp">
                    close
                </span>
            </div>
        </div>
        <div class="modal-body">
            <form action="{% url 'ajxfichier' %}" method="post" id="newform" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="lg-c12 md-c12 sm-c12 xs-c12">
                        <div class="drop-zone" style="cursor: pointer;">
                            <span class="drop-zone__prompti"><i class="material-icons-sharp" style="font-size: 70px;">download</i></span><br/>
                            <span class="drop-zone__prompt">{% trans 'Glisez ou cliquez pour ajouter' %}</span>
                            <input type="file" name="fichier" class="drop-zone__input" style="display: none;" required>
                        </div>
                    </div>
                    <div class="lg-c12 md-c12 sm-c12 xs-c12" style="margin-top: 10px;">
                        <div class="input_div">
                            <input type="text" class="input_field" name="nom" id="input_feild" placeholder=" " required>
                            <label for="input_feild" class="input_label">{% trans "Description" %} <span class="required-txt" style="color: red;">*</span></label>
                        </div>
                    </div>
                    <div class="lg-c12 md-c12 sm-c12 xs-c12" style="margin-top: 10px;">
                        <div class="list-btn" style="float: right;">
                            <button type="button" onclick="showModal('newfile');"  class="a-button" style="--clr:#e91919;">
                                {% trans "Fermer" %}
                            </button>
                            <button type="submit" class="a-button" style="--clr:#7380ec;">
                                {% trans "Importer" %}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    //$(document).ready(function () {
    //    $('#table_id').DataTable();
    //});
    $(document).ready(function () {
        //var table = $('#myTable2custom').DataTable();
        //$('#myTable2custom').DataTable().search('12').draw();
        $('#table_id').DataTable({
            "searching":true,
            "padding":true,
            "order":[[0,"asc"]],
            "ordering":true,
            dom: 'lBfrtip',
            buttons: [
                'pdf',
                'print'
            ]
        });
    });
</script>

<script>
    $("#newform").submit(function(e){
        e.preventDefault();
        swal({
            title: "{% trans 'En cours' %} !",
            text: "{% trans 'Veuillez ne pas quitter la page' %}",
            type: "warning",
            showCancelButton: false,
            showConfirmButton : false,
            confirmButtonColor: "#00BCD4",
            confirmButtonText: "oK",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        });
        var formData = new FormData(this);
        $.ajax({
            type : "POST",
            url: $(this).attr("action"),
            data: formData,
            dataType: 'json',
            success: function(data) {                
                if (data.etat == "2") {
                    var textreturn = "{% trans 'Fichier nom importé' %}";
                    swal({
                        title: "{% trans 'Erreur' %} !",
                        text: textreturn,
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#7380ec",
                        confirmButtonText: "oK",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    });
                }else{
                    
                    var textreturn = "{% trans 'Fichier importé' %}";
                    swal({
                        title: "{% trans 'Succès' %} !",
                        text: textreturn,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#7380ec",
                        confirmButtonText: "oK",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                }
                
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>
<script>
    document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
            }

            dropZoneElement.classList.remove("drop-zone--over");
        });
    });

    /**
     * Updates the thumbnail on a drop zone element.
     *
     * @param {HTMLElement} dropZoneElement
     * @param {File} file
     */
    function updateThumbnail(dropZoneElement, file) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone__prompt")) {
            dropZoneElement.querySelector(".drop-zone__prompt").remove();
        }
        if (dropZoneElement.querySelector(".drop-zone__prompti")) {
            dropZoneElement.querySelector(".drop-zone__prompti").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = file.name;

        // Show thumbnail for image files
        if (file.type.startsWith("image/")) {
            const reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            };
        } else {
            thumbnailElement.style.backgroundImage = null;
        }
    }
</script>
{% endblock js %}